@model bug_tracker.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="auth-container">
    <div class="center-block">
        <div class="auth-module border-top-danger">
            <div class="form display-block">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1 class="text-danger no-m text-light">Recover password</h1>
                    <p class="no-p m-b-20">We'll send you instructions by email</p>
                    @*<form class="form-horizontal">*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="icon-envelop3"></i></div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-danger btn-block m-t-15">Recover password</button>
                    </div>
                    @*</form>*@
                }
            </div>
        </div>
        @*<div class="footer">
            <div class="float-left">
                ©  2020 <a href="http://jananderson.dev" target="_blank">DirectStep Development</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Template by <a href="http://followtechnique.com" target="_blank">FlowTechnique</a>.
            </div>
            <div class="float-right">
                <div class="label label-info">Version: 2.0.0</div>
            </div>
        </div>*@
    </div>
</div>

@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
