@using bug_tracker.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Log in";
}

<div class="auth-container">
    <div class="center-block">
        <div class="auth-module">
            <a class="toggle tip">
                Demo Logins
            </a>
            <!-- Login form -->
            <div class="form">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col">
                                <h1 class="text-light">User Login</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group m-b-15 p-t-20">
                                        <div class="input-group-addon"><i class="icon-user"></i></div>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group m-b-15">
                                        <div class="input-group-addon"><i class="icon-key"></i></div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <div class="input-group-addon">
                            <i class="icon-user"></i>
                            @Html.ActionLink("Register as a new user", "Register")
                        </div>
                    }
                </section>
            </div>
            <!-- /Login form -->
            <!-- Demo Logins form -->
            <div class="form">
                <h1 class="text-light">Demo Logins</h1>
                <div class="form-group">
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("emailKey", "DemoAdminEmail")
                        <div class="input-group m-b-10 p-t-20">
                            <button class="btn btn-info btn-block m-t-20">Demo Admin</button>
                        </div>
                    }
                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("emailKey", "DemoProjectManagerEmail")

                        <div class="input-group m-b-10">
                            <button class="btn btn-info btn-block m-t-20">Demo Manager</button>
                        </div>
                    }

                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("emailKey", "DemoDeveloperEmail")

                        <div class="input-group m-b-10">
                            <button class="btn btn-info btn-block m-t-20">Demo Developer</button>
                        </div>
                    }

                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("emailKey", "DemoSubmitterEmail")

                        <div class="input-group m-b-10">
                            <button class="btn btn-info btn-block m-t-20">Demo Submitter</button>
                        </div>
                    }
                    <div class="input-group-addon">
                        <i class="icon-user"></i>
                        @Html.ActionLink("Login with credentials", "Login")
                    </div>

                </div>
            </div>
            <!-- /Demo Logins form -->
            <!--Forgot Password Button-->
            <div class="forgot">
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </div>
        </div>
        <!--/Forgot Password Button-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}