@model bug_tracker.Models.Ticket
@using bug_tracker.Helper

@{
    ViewBag.Title = "Details";
}

<div class="card card-inverse card-flat">
    <div class="header">
        <div class="header-content">
            <div class="page-title">
                <i class="icon-briefcase position-left"></i> Ticket details
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <!-- Project details -->
        <div class="panel panel-default no-margin-bottom no-border-bottom">
            <div class="panel-heading">
                <div class="panel-title text-xlg">@Html.DisplayFor(model => model.Title)</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Assign", "AssignTicket", new { id = Model.Id }, new { @class = "btn btn-info btn-md" })
                        }
                        </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-md-12">
                        <h4 class="m-b-10 text-semibold">Details</h4>
                        <p class="text-size-large">@Html.DisplayFor(model => model.Description)</p>
</div>
                </div>
            </div>
        </div>
        <!-- /Project details -->
        <!-- Files -->



        <div class="panel panel-flat no-margin-top no-margin-bottom no-border-bottom">
            <table class="table m-0">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayName("Attachments")
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attachment in Model.Attachments.OrderByDescending(t => t.Created))
                    {
                        <tr>
                            <td>
                                <a target="_blank" href="@attachment.FilePath">@Path.GetFileNameWithoutExtension(attachment.FilePath)</a>
                            </td>
                            <td>
                                <a target="_blank" href="@attachment.FilePath"><img src="@AttachmentHelper.GetDefaultIcon(attachment.FilePath)" /></a>
</td>
                        </tr>
                    }
                    <div class="card-footer clearfix">
                        @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)

                            <input type="file" name="attachment" />
                            <button type="submit" class="btn btn-sm btn-success float-right">Add Attachment</button>

                        }
                    </div>
                </tbody>
            </table>
        </div>
        <!-- /Files -->
        <!-- Comments -->
        <div class="panel panel-flat no-margin-top">
            <div class="panel-heading">
                <div class="panel-title">Comments</div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="http://via.placeholder.com/80x80" class="img-circle" alt=""></a>
                    </div>

                    <div class="media-body">
                        <h6 class="media-heading">Marilyn Romero<span class="media-annotation pull-right">2 hours ago</span></h6>
                        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.

                        <ul class="list-inline m-t-5">
                            <li><a href="#"><i class="icon-reply text-success position-left"></i>Reply</a></li>
                            <li><a href="#"><i class="icon-pencil6 text-danger position-left"></i>Edit</a></li>
                        </ul>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="http://via.placeholder.com/80x80" class="img-circle" alt=""></a>
                    </div>

                    <div class="media-body">
                        <h6 class="media-heading">Jonaly Smith<span class="media-annotation pull-right">1 day ago</span></h6>
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                        <ul class="list-inline m-t-5">
                            <li><a href="#"><i class="icon-reply text-success position-left"></i>Reply</a></li>
                            <li><a href="#"><i class="icon-pencil6 text-danger position-left"></i>Edit</a></li>
                        </ul>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="http://via.placeholder.com/80x80" class="img-circle" alt=""></a>
                    </div>

                    <div class="media-body">
                        <h6 class="media-heading">John Deo<span class="media-annotation pull-right">3 days ago</span></h6>
                        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.

                        <ul class="list-inline m-t-5">
                            <li><a href="#"><i class="icon-reply text-success position-left"></i>Reply</a></li>
                            <li><a href="#"><i class="icon-pencil6 text-danger position-left"></i>Edit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Comments -->

    </div>

    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="no-margin">Created Date and Time</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <p class="text-semibold no-margin">@Html.DisplayFor(model => model.Created)</p>
                    </div>
                </div>
                <div class="row m-t-5">
                    <div class="col-md-6">
                        <p class="no-margin">Updated Date and Time:</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <p class="text-semibold no-margin">@Html.DisplayFor(model => model.Updated)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="m-t-0 m-b-10">Current status</h4>
                        <p class="text-semibold no-margin">@Html.DisplayFor(model => model.TicketStatus.Name)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="m-t-0 m-b-10">Assigned to</h4>
                        <p class="text-semibold no-margin">@Html.DisplayFor(model => model.AssignedToUser.FirstName)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="m-t-0 m-b-15">Project details</h4>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h5>@Html.DisplayFor(model => model.Project.Name)</h5>
                            </div>
                    </div>
                <hr>
                <hr>
            </div>
        </div>
    </div>
</div>










<div>
    <hr />
    <br />
    @Html.ActionLink("Assign", "AssignTicket", new { id = Model.Id }, new { @class="btn btn-info btn-md" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Assigned to")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Project")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayName("Priority")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            @Html.DisplayName("Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayName("Issue")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayName("Details")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Created")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayName("Updated")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayName("Open")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
<table class="table m-0">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("File Name")
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attachment in Model.Attachments.OrderByDescending(t => t.Created))
        {
            <tr>
                <td>
                    <a target="_blank" href="@attachment.FilePath">@Path.GetFileNameWithoutExtension(attachment.FilePath)</a>
                </td>
                <td>
                    <img src="@AttachmentHelper.GetDefaultIcon(attachment.FilePath)" />
                </td>
            </tr>
        }
        <div class="card-footer clearfix">
            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("TicketId", Model.Id)

                <input type="file" name="attachment" class="btn btn-sm btn-info float-left" />
                <button type="submit" class="btn btn-sm btn-success float-right">Add Attachment</button>

            }
        </div>
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<section>
    <p>
        @if (User.Identity.IsAuthenticated)
        {

            using (Html.BeginForm("Create", "TicketComments", new { Id = Model.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("TicketId", Model.Id)
                <div class="form-group rounded">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            @Html.TextArea("Comment", new { @class = "form-control", placeholder = "Leave comment here...", rows = "2" })
                        </div>
                        <div class="col-md-2 mx-auto">
                            <input type="submit" value="Comment" class="btn btn-rose" />
                        </div>
                    </div>
                </div>
            }
            if (Model.Comments != null)
            {
                foreach (var item in Model.Comments.OrderByDescending(c => c.Created))
                {
                    <div class="card">
                        <div class="card-body">
                            @item.Comment
                        </div>
                        <hr />
                        <div class="card-footer">
                            <div class="col-lg-6 col-md-6">
                                @item.Created.ToString("MMM dd, yyyy")
                            </div>
                            <div class="col-lg-4 col-md-4 text-center">
                                @item.User.FirstName
                            </div>
                            <div class="col-lg-2 col-md-2">
                                @if (User.IsInRole("Admin") || User.IsInRole("OwnerUser"))
                                {
                                    <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Edit", "Comments", new { id = item.Id })"><i class="material-icons">edit</i></a>
                                    <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Delete", "Comments", new { id = item.Id })"><i class="material-icons">delete</i></a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4>Start the Conversation by leaving a comment above!!!</h4>
            }
        }
        else
        {
            <h4 class="text-center">Only Managers, Developers, and Submitters assigned to this ticket are allowed to add comments</h4>
        }
        @foreach (var item in Model.Histories.OrderByDescending(c => c.Changed))
        {
            <div class="card">
                <div class="card-body">
                    @item.Property
                </div>
                <hr />
                <div class="card-footer">
                    <div class="col-lg-4 col-md-6">
                        @item.Changed.ToString("MMM dd, yyyy")
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        @{
                            var oldValue = item.OldValue ?? "Not Available";
                            @oldValue;
                        }
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        @{
                            var newValue = item.NewValue ?? "Not Available";
                            @newValue;
                        }
                    </div>
                </div>
            </div>
        }
    </p>
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("OwnerUser"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
