@model bug_tracker.Models.RemoveUserRoleViewModel
@using bug_tracker.Helper
@{
    var rh = new UserRolesHelper();
    ViewBag.Title = "RemoveUserRole";
}

@if (User.IsInRole("Admin"))
{

    <div class="card card-inverse">
        <div class="header">
            <div class="header-content">
                <div class="page-title">
                    <i class="icon-user-cancel x6 position-left"></i> Remove Roles Assigned To A User
                </div>
            </div>
        </div>
    </div>
    <div class="card card-inverse card-flat">
        <div class="card-header">
            @*<div class="card-title">Create a project</div>*@
        </div>
        <div class="card-block row">
            Use the below drop down lists to first select a user then select a role you would like to unassign to that user. A searchable table of all users and their roles has been provided for reference.
        </div>
    </div>
    <div class="card card-inverse">
        <div class="card-header">
            @*<div class="card-title">Remove User Roles</div>*@
        </div>
        <div class="card-block">
            @using (Html.BeginForm("RemoveUserRole", "Roles", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <div class="col-md-9">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Label("User List", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(m => m.UserId, null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9">
                        @Html.Label("Role List", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(m => m.RoleName, null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9">
                        <input type="submit" value="Remove User Role" class="btn btn-info btn-md" />
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table datatable-reorder-realtime">
                        <thead>
                            <tr>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Role
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.UserRoles)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @foreach (var role in rh.ListUserRoles(item.Id))
                                        {
                                            <p>@role</p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
}
else
{
    <div class="card card-inverse">
        <div class="header">
            <div class="header-content">
                <div class="page-title">
                    <i class="icon-user-cancel x6 position-left"></i> Remove Roles Assigned To A User
                </div>
            </div>
        </div>
    </div>

}