@using bug_tracker.Models
@model UserProjectsViewModel

@{
    ViewBag.Title = "UserTickets";
}

    <div class="card card-inverse">
        <div class="header">
            <div class="header-content">
                <div class="page-title">
                    <i class="icon-briefcase x6 position-left"></i> Your Projects
                </div>
            </div>
        </div>
    </div>
    <div class="card card-inverse card-flat">
        <div class="card-header">
            @*<div class="card-title">User Tickets</div>*@
        </div>
        <div class="card-block row">
            Below you will find a list of all your projects, all assigned users, the project's assigned users, and the assigned project manager.
        </div>
    </div>
@if (User.IsInRole("Admin"))
{

    <div class="card card-inverse card-flat">
        <div class="card-header">
            <div class="card-title">Assigned Admin Projects</div>
        </div>
        <div class="table-responsive">
            <table class="table datatable-reorder-realtime">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Actions")
                        </th>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("Project Manager")
                        </th>
                        <th>
                            @Html.DisplayName("Tickets")
                        </th>
                        <th>
                            @Html.DisplayName("Users")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ProjectManProjs)
                    {
                        <tr>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Drop-Down
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item">@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                            <a class="dropdown-item">@Html.ActionLink("Assign a Developer", "ManageProjectUsers", new { projectId = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                        }
                                        <a class="dropdown-item">@Html.ActionLink("Details", "Details", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectManagerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Tickets.Count)
                            </td>

                            <td>
                                @foreach (var user in item.Project.Users)
                                {
                                    <p>@user.FirstName @user.LastName</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@if (User.IsInRole("ProjectManager"))
{

    <div class="card card-inverse card-flat">
        <div class="card-header">
            <div class="card-title">Assigned Project Manager Projects</div>
        </div>
        <div class="table-responsive">
            <table class="table datatable-reorder-realtime">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Actions")
                        </th>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("Project Manager")
                        </th>
                        <th>
                            @Html.DisplayName("Tickets")
                        </th>
                        <th>
                            @Html.DisplayName("Users")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ProjectManProjs)
                    {
                        <tr>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Drop-Down
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item">@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                            <a class="dropdown-item">@Html.ActionLink("Assign a Developer", "ManageProjectUsers", new { projectId = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                        }
                                        <a class="dropdown-item">@Html.ActionLink("Details", "Details", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectManagerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Tickets.Count)
                            </td>

                            <td>
                                @foreach (var user in item.Project.Users)
                                {
                                    <p>@user.FirstName @user.LastName</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@if (User.IsInRole("Developer"))
{

    <div class="card card-inverse card-flat">
        <div class="card-header">
            <div class="card-title">Developer Projects</div>
        </div>
        <div class="table-responsive">
            <table class="table datatable-reorder-realtime">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Actions")
                        </th>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("Project Manager")
                        </th>
                        <th>
                            @Html.DisplayName("Tickets")
                        </th>
                        <th>
                            @Html.DisplayName("Users")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.DeveloperProjs)
                    {
                        <tr>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Drop-Down
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item">@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                            <a class="dropdown-item">@Html.ActionLink("Assign a Developer", "ManageProjectUsers", new { projectId = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                        }
                                        <a class="dropdown-item">@Html.ActionLink("Details", "Details", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectManagerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Tickets.Count)
                            </td>

                            <td>
                                @foreach (var user in item.Project.Users)
                                {
                                    <p>@user.FirstName @user.LastName</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@if (User.IsInRole("Submitter"))
{

    <div class="card card-inverse card-flat">
        <div class="card-header">
            <div class="card-title">Submitter Projects</div>
        </div>
        <div class="table-responsive">
            <table class="table datatable-reorder-realtime">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Actions")
                        </th>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("Project Manager")
                        </th>
                        <th>
                            @Html.DisplayName("Tickets")
                        </th>
                        <th>
                            @Html.DisplayName("Users")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SubmitterProjs)
                    {
                        <tr>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Drop-Down
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item">@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                            <a class="dropdown-item">@Html.ActionLink("Assign a Developer", "ManageProjectUsers", new { projectId = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                        }
                                        <a class="dropdown-item">@Html.ActionLink("Details", "Details", new { id = item.Project.Id }, new { @class = "dropdown-item" })</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectManagerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Tickets.Count)
                            </td>

                            <td>
                                @foreach (var user in item.Project.Users)
                                {
                                    <p>@user.FirstName @user.LastName</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
